html{
    margin: 0;
    padding: 0;
    width: 100%;

}

body{
    margin:0;
    padding:0;
    width: 100%;
    text-align: center;
    background: url(img/bgHexagonWhite.jpg) no-repeat 50% 50%;
    height: 100vh;
    display: table;
}

.wrapper{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

path{
    stroke: #E9C361;
    fill: #E9C361;
    stroke-dasharray: 1800;
    opacity: 10;
    animation: animate 1.5s cubic-bezier(.06,.61,.9,.41);
}
    

@keyframes animate{
    0%{
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1800;

    }
    30%{
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1800;

    }
    90%{
       
        fill: rgba(255,255,255,0)
    }
    
    100%{
        opacity:10;
        fill: rgb(255, 229, 162);
        stroke-dashoffset: 0;
        

    }
}